<ion-view view-title="Upcoming Events">
  <ion-content>
  <div ng-repeat="event in events">
    <div class="card" ng-click="go('{{event.location}}', ($index))" ng-class="{'error-box': $index===selectedIndex}">
      <a class="item">
      <div class='event-title'>{{event.summary}}</div>
      <div>{{event.location}}</div>
      <div>{{event.start.formattedDate}}</div>
      <div>{{event.start.formattedTime}}-{{event.end.formattedTime}}</div>
      </a>
    </div>
  </div>
  
    <br><br> <!-- a super hacky way to give padding to the cards so the footer doesn't cover them up -->
  </ion-content>
</ion-view>
