<ion-view view-title="Settings">
  <ion-content>

  <ul class="list">
    <li class="item item-toggle" ng-repeat="mode in settings.travelModes">
       {{mode.title}}
       <label class="toggle toggle-positive">
         <input type="checkbox" ng-model="mode.enabled">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>
  </ul>
  <button ng-click="login()" class="button button-half icon-left button-light">Account</button>

  </ion-content>
</ion-view>
