<ion-view view-title="Settings">
  <ion-content>

  <ul class="list">
    <li class="item item-toggle" ng-repeat="mode in settings.travelModes">
       {{mode.title}}
       <label class="toggle toggle-positive">
         <input type="checkbox" ng-model="mode.enabled">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>
  </ul>
  <div class="row">
    <div class="col-10"></div>
    <div class="col-80">
      <a ng-click="doLogin()" class="button button-full button-balanced icon-left ion-social-google button-light">Sign in with Google</a>
    </div>
    <div class="col-10"></div>
  </div>

  </ion-content>
</ion-view>
