<ion-view view-title="Start" ng-cloak>
  <ion-content scroll="false">
    <img src="img/almond.png" class="almondLogo blockCenter {{isFirstLoad('animated bounceInDown _1')}}">
    <span class="light blockCenter {{isFirstLoad('animated bounceInDown _1')}}">
      <i class="ion-ios-location-outline"></i>
      Current Location:
      <reverse-geocode ng-if="lat" lat="{{lat}}" lng="{{long}}" />
    </span>
    <div class="list list-inset padding almondBlue absoluteBottomHalf">
      <label class="item item-input {{isFirstLoad('animated bounceInDown _1')}}">
        <i class="icon ion-search placeholder-icon"></i>
        <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="location" ng-change="dest.update(location)" />
      </label>
      <a class="button button-block button-balanced {{isFirstLoad('animated bounceInDown _1')}}" href="#/app/travelModes">
        <span ng-if="!location.formatted_address && (lat || long)">Please enter an address.</span>
        <span ng-if="!location.formatted_address && (!lat || !long)">Please enter an address.</span>
        <span ng-if="location.formatted_address && (!lat || !long)">Waiting for GPS</span>
        <span ng-if="location.formatted_address && (lat || long)">Navigate!</span>
      </a>
      <br>
    </div>
    <div>
      <button ng-click="go('/app/events')" class="button button-half icon-left ion-calendar {{isFirstLoad('animated bounceInLeft _1')}} button-white bottom">Calendar</button>
      <button style="position:absolute;right:10px;" ng-click="go('/app/settings')" class="button button-half icon-left ion-gear-a {{isFirstLoad('animated bounceInRight _1')}} button-white bottom">Settings</button>
    </div>

  </ion-content>
</ion-view>
