<ion-view view-title="Travel Modes">
  <ion-content>
    <div ng-repeat="mode in options.data.results">
      <div class="card" ng-repeat="route in mode">
        <div class="item item-text-wrap">
          <h1>{{route.travelMode}}</h1>
          will take <b>{{route.legs[0].duration.text}}</b> ({{route.legs[0].distance.text}})<br>
          and will cost <b>{{route.fare.text || "$0"}}</b><br>
          <span style="color:grey;font-style:italic;">via {{route.summary}}</span>
          <a href="#/app/travelMode/{{route.mode}}" ng-click="dispatch($parent.$index,$index)">Go</a>
        </div>
      </div>
    </div>
    <br><br> <!-- a super hacky way to give padding to the cards so the footer doesn't cover them up -->
  </ion-content>
  <div class="bar bar-footer bar-energized">
    <div class="title">Your event starts <b><span am-time-ago="event.time"></span></b></div>
  </div>
</ion-view>
