<ion-view view-title="Travel Modes">
  <ion-content>
    <center>{{event.title}} at {{event.locationName}}</center>
    <div class="card" ng-repeat="o in travelModes">
      <div class="item item-text-wrap">
        <h1>{{o.mode}}</h1>
        will take <b>{{o.travelTime}}</b> minutes
        and will cost <b>${{o.cost}}</b>
        <a href="#/app/travelMode/{{o.mode}}">Go</a>
      </div>
    </div>
    <div class="bar bar-footer bar-energized">
      <div class="title">Your event starts <b><span am-time-ago="event.time"></span></b></div>
    </div>
  </ion-content>
</ion-view>
