<ion-view view-title="Travel Modes">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refresh()">
    </ion-refresher>
    <div ng-repeat="mode in options.data.results">
      <div class="card" ng-repeat="route in mode" ng-click="go('/app/travelMode/{{route.travelMode}}')">
        <div class="row stackContainer">
        <div class="col col-10 col-center"></div>
          <div class="col col-10 col-center">
            <span ng-switch on="route.travelMode" style="font-size:32px;padding-top:3em;">
              <i class="icon ion-location" ng-switch-default></i>
              <i class="icon ion-android-walk" ng-switch-when="walking"></i>
              <i class="icon ion-android-bus" ng-switch-when="transit"></i>
              <i class="icon ion-android-car" ng-switch-when="driving"></i>
              <i class="icon ion-android-bicycle" ng-switch-when="bicycling"></i>
            </span>
          </div>
          <div class="col col-60">
            <div class="item" ng-click="dispatch($parent.$index,$index);">
              <h1>{{route.travelMode}}</h1>
              <span ng-repeat="mode in route.durationByMode"><b>{{mode[1]}}</b> <span ng-if="mode[0] == 'transit'">riding </span>{{mode[0]}}
              <span ng-if="!$last"><br></span>
              </span>
              ({{route.distance.text}})<br>
              <span class="item-text-wrap" style="color:grey;font-style:italic;">via {{route.summary}}</span>
            </div>
          </div>
          <div class="stack stackTop">
            <span style="color:blue;">{{route.duration| shortenTime}}</span><br>
            <span style="color:green;">{{route.fare.text || '$0'}}</span>
          </div>
      </div>
    </div>
    </div>
    <br><br> <!-- a super hacky way to give padding to the cards so the footer doesn't cover them up -->
  </ion-content>
</ion-view>
