/* Empty. Add your own CSS if you like */

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

html, body {
  height: 100%;
}


.stackContainer {
  position: relative;
  left: 0px;
  top: 0px;
}

.stack {
  font-size: 18px;
  z-index: 999;
}

.stackTop {
  position: absolute;
  right: 18px;
  top: 10px;
  text-align: right;
}

.stackBottom {
  position: absolute;
  right: 24px;
  bottom: 25px;
}