/* Empty. Add your own CSS if you like */

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
} 

.full {
    width: 100%;
    height: 100%;
}

html, body {
  height: 100%;
}


.stackContainer {
  position: relative;
  left: 0px;
  top: 0px;
}

.stack {
  font-size: 18px;
  z-index: 999;
}

.modeStat {
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  margin-top: 6px;
}

.modeStat .number {
  font-weight: 600;
  display: block;
  font-size:23px;
}

.modeStat .label {
  color: grey;
  text-transform: uppercase;
  font-size: 14px;
}

/*.lineStat {
  position: relative;
  background-color: grey;
  text-align:center;
  border-radius: 50%;
  height:50px;
  width: 50px;
  display: inline-block;
}

.lineStat .number {
  color: white;
  position: absolute;
  top:50%;
}*/

.routeGrid div:not(:last-child) {
  border-right: solid 1px lightgrey;
}

.lineStat {
  background: grey;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 36px;
  margin-right: 15px;
  text-align: center;
  width: 36px; 
  position:absolute;
  bottom:50%;

}

.uberStat {
  background: grey;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 36px;
  margin-right: 15px;
  text-align: center;
  width: 36px; 
  position:absolute;
  bottom:50%;
  font-size: 13px;

}

.lineStatContainer {
  display:inline-block;
  position:relative;
  margin-left:10px;
}

.stackTop {
  position: absolute;
  right: 18px;
  top: 10px;
  text-align: right;
}

.stackBottom {
  position: absolute;
  right: 24px;
  bottom: 25px;
}

.logoContainer {
  height: 100px;
  width: 100px;
}

.travelTypeLogo {
  font-size: 48px;
  display: inline;
}

.uberLogo {
  width:36px;
  height:36px;
}

.almondLogo {
  width: 300px;
  padding-bottom: 10px;
}

.almondBlue {
  background-color: #38a5f0 !important;
}

.blockCenter {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.absoluteBottomHalf {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  position: absolute !important;
  top: 40% !important;
}

button.button-half {
  width: 40%;
  display: inline;
}

button.button-half:nth-of-type(1) {
  margin-left: 20px;
}

button.button-half:nth-of-type(2) {
  margin-right: 10px;
}

button.bottom {
  position: absolute;
  bottom: 25px;
}

button.button-white {
  border-color: #fff;
  border-width: 1px;
  background-color: #38a5f0;
  color: #fff;
}

.error-box {
  color: red;
  /*background-color: red;*/
  /*background-color: rgba(255,0,0,0.5);*/
}

.event-title {
  font-weight: bold;
}

.secondary {
  color: grey;
  font-size: 10.5pt;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
